---
import type { Project } from "@/types";
import { Image } from "astro:assets";

interface Props extends Project {}

const { slug, title, isReady, icon, preview } = Astro.props;
---

<li class="flex justify-center">
  <a href={`/${slug}`} class="group relative w-full max-w-[400px] cursor-pointer">
    <div class="absolute inset-0 w-full h-[270px] rounded-full transition-all duration-300 group-hover:shadow-card group-hover:animate-card-shadow-pulse" />
    <div class="relative overflow-hidden w-full h-[270px] rounded-lg outline outline-offset-4 outline-4 outline-transparent transition-all duration-300 group-hover:animate-card-pulse group-hover:outline-outline-card">
      {preview !== null && <Image src={preview} alt={`${title} preview`} width={400} height={270} loading="lazy" class={`object-cover w-full h-full ${isReady === false ? "brightness-75 group-hover:brightness-100" : ""}`} />}
      {preview === null && <Image src="/projects/not-found/preview.png" alt={`not found preview`} width={400} height={270} loading="lazy" class={`object-cover w-full h-full ${isReady === false ? 'brightness-75 group-hover:brightness-100' : ''}`} />}
      {!isReady &&
        <span class="absolute bottom-0 w-full italic text-xl px-4 py-1.5 bg-gradient-to-r from-bg-developing to-bg-developing-light group-hover:invisible">
          En Desarrollo
        </span>
      }
    </div>
    <div class="flex items-center gap-2 px-1 pt-3">
      {icon !== null && <Image src={icon} alt={`${title} icon`} width={36} height={36} loading="lazy" />}
      {icon === null && <Image src="/projects/not-found/icon.svg" alt="not found icon" width={36} height={36} loading="lazy" />}
      <h3 class="text-2xl font-medium">{title}</h3>
    </div>
  </a>
</li>