---
import { db, eq, Project } from 'astro:db';
import Layout from "../layouts/Layout.astro";
import Navbar from '../components/Navbar.astro';
import ProgressIcon from '../icons/ProgressIcon.astro';
import SkillBox from '../components/SkillBox.astro';
import ProjectInfo from '../components/ProjectInfo.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import LinkIcon from '../icons/LinkIcon.astro';
import StarIcon from '../icons/StarIcon.astro';
import ForkIcon from '../icons/ForkIcon.astro';
import WatcherIcon from '../icons/WatcherIcon.astro';
import ProjectDetail from '../components/ProjectDetail.astro';
import { getProject, projectStore, updatedProjects, updateGithubProject } from '../store/project';
import type { ProjectComplete, Project as ProjectType } from '../types';
import { minutesDifference } from '../utils/time';

const { path } = Astro.params;

// Obtiene el projecto desde la store, si no existe actualiza los proyectos desde la base de datos y vuelve a obtener el projecto
let project = getProject(path as string);
if (project === undefined || minutesDifference(projectStore.get().last_update, new Date(), 10)) {
  const projectDB: ProjectType[] = await db.select().from(Project)
  updatedProjects(projectDB)
  project = getProject(path as string);
  if (project === undefined) {
    return Astro.redirect('/');
  }
}

// Actualizar datos de github (license, stars, watchers, forks)
if (project.github === null || minutesDifference(projectStore.get().last_update, new Date(), 10)) {
  const res = await fetch("https://api.github.com/users/unnunoctio/repos", { headers: { Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}` }, cache: 'no-cache' })
  const data = await res.json()
  const repo = data?.find((r: any) => r.id === project?.github_id)
  updateGithubProject(path as string, { license: repo.license.name, stargazers: repo.stargazers_count, forks: repo.forks, watchers: repo.watchers })
  project = getProject(path as string)
}

const { title, logo, website, repository, description, is_ready, github } = project as ProjectComplete;
---

<Layout title={`${title} | Proyectos`}>
  <main class="flex flex-col items-center w-full">
    <section class="relative w-full max-w-page px-4 sm:px-6 md:px-8 lg:px-[112px] pb-14">
      <Navbar />

      <div class="mt-24">
        <img src={logo} alt={title} height={150} class="max-h-[150px]" />
        {!is_ready &&
          <div class="flex gap-2 mt-4">
            <ProgressIcon style="w-9 h-9 stroke-text-active" />
            <span class="text-2xl sm:text-3xl italic text-text-active">En Desarrollo</span>
          </div>
        }
      </div>

      <SkillBox title='Habilidades' />

      {description !== null && <p class="mt-16 w-full max-w-[600px] text-xl text-text-secondary text-pretty">{description}</p>}

      <ProjectInfo title='Links de Interes'>
        <div class="flex gap-4 sm:gap-6 h-fit flex-wrap sm:flex-nowrap">
          <a href={repository} aria-label={`${path}-repository`} target="_blank" rel="noreferrer" class="w-fit group flex gap-2 pointer px-4 py-4 text-lg font-medium text-text-secondary bg-bg-btn rounded-2xl shadow-btn transition-colors hover:text-hover-text hover:bg-hover-btn">
            <GithubIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
            Repositorio
          </a>
          {website !== null &&
            <a href={website} aria-label={`${path}-repository`} target="_blank" rel="noreferrer" class="w-fit group flex gap-2 pointer px-4 py-4 text-lg font-medium text-text-secondary bg-bg-btn rounded-2xl shadow-btn transition-colors hover:text-hover-text hover:bg-hover-btn">
              <LinkIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
              Website
            </a>
          }
        </div>
      </ProjectInfo>

      <ProjectInfo title='Detalles Adicionales'>
        <div class="flex gap-y-2 gap-x-6 justify-between flex-wrap sm:flex-nowrap w-full max-w-[700px]">
          <ProjectDetail title='LICENCIA' value={github?.license} style='min-w-[109px]' />
          <ProjectDetail title="STARS" value={github?.stargazers}>
            <StarIcon style="w-6 h-6 fill-text-primary" />
          </ProjectDetail>
          <ProjectDetail title="WATCHERS" value={github?.watchers}>
            <WatcherIcon style="w-6 h-6 fill-text-primary" />
          </ProjectDetail>
          <ProjectDetail title="FORKS" value={github?.forks}>
            <ForkIcon style="w-6 h-6 fill-text-primary" />
          </ProjectDetail>
        </div>
      </ProjectInfo>
    </section>
  </main>
</Layout>