---
import { db, Project } from 'astro:db';
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import Navbar from '../components/Navbar.astro';
import ProgressIcon from '../icons/ProgressIcon.astro';
import SkillBox from '../components/SkillBox.astro';
import ProjectInfo from '../components/ProjectInfo.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import LinkIcon from '../icons/LinkIcon.astro';
import type { Project as ProjectType } from '../types';
import ProjectGithub from '../components/ProjectGithub.astro';
import ProjectGithubSkeleton from '../skeletons/ProjectGithubSkeleton.astro';

const { path } = Astro.params;

const projects: ProjectType[] = await db.select().from(Project)
const project = projects.find(p => p.path === path)
if (project === undefined) {
  return Astro.redirect('/')
}

const { project_id ,title, logo, website, repository, description, is_ready, github_id } = project;
---

<Layout title={`${title} | Proyectos`}>
  <main class="flex flex-col items-center w-full">
    <section class="relative w-full max-w-page px-4 sm:px-6 md:px-8 lg:px-[112px] pb-14">
      <Navbar />

      <div class="flex flex-col justify-center items-start mt-24 min-h-[150px]">
        {logo !== null && <img src={logo} alt={title} height={150} loading="lazy" class="max-h-[150px]" />}
        {logo === null && <Image src="/projects/without-logo.svg" alt={title} width={432} height={150} loading="lazy" class="max-h-[150px]" />}
        {!is_ready &&
          <div class="flex gap-2 mt-4">
            <ProgressIcon style="w-9 h-9 stroke-text-active" />
            <span class="text-2xl sm:text-3xl italic text-text-active">En Desarrollo</span>
          </div>
        }
      </div>

      <SkillBox title='Habilidades' project_id={project_id} />

      {description !== null && <p class="mt-16 w-full max-w-[600px] text-xl text-text-secondary text-pretty">{description}</p>}

      <ProjectInfo title='Links de Interes'>
        <div class="flex gap-4 sm:gap-6 h-fit flex-wrap sm:flex-nowrap">
          <a href={repository} aria-label={`${path}-repository`} target="_blank" rel="noreferrer" class="w-fit group flex gap-2 pointer px-4 py-4 text-lg font-medium text-text-secondary bg-bg-btn rounded-2xl shadow-btn transition-colors hover:text-hover-text hover:bg-hover-btn">
            <GithubIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
            Repositorio
          </a>
          {website !== null &&
            <a href={website} aria-label={`${path}-repository`} target="_blank" rel="noreferrer" class="w-fit group flex gap-2 pointer px-4 py-4 text-lg font-medium text-text-secondary bg-bg-btn rounded-2xl shadow-btn transition-colors hover:text-hover-text hover:bg-hover-btn">
              <LinkIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
              Website
            </a>
          }
        </div>
      </ProjectInfo>

      <ProjectInfo title='Detalles Adicionales'>
        <ProjectGithub server:defer github_id={github_id}>
          <ProjectGithubSkeleton slot='fallback' />
        </ProjectGithub>
      </ProjectInfo>
    </section>
  </main>
</Layout>