---
import Layout from "../layouts/Layout.astro";
import SkillBox from "../components/SkillBox.astro";
import MediaButton from "../components/MediaButton.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkIcon from "../icons/LinkIcon.astro";
import ProjectDetail from "../components/ProjectDetail.astro";
import ForkIcon from "../icons/ForkIcon.astro";
import StarIcon from "../icons/StarIcon.astro";
import WatcherIcon from "../icons/WatcherIcon.astro";
import ProjectLogo from "../components/ProjectLogo.astro";
import ProgressIcon from "../icons/ProgressIcon.astro";

const { project } = Astro.params;

// Fetch repository
const res = await fetch("https://api.github.com/users/unnunoctio/repos", { headers: { Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}` }, cache: 'no-cache' })
const repositories = await res.json()

const repo = repositories?.find((repo: any) => repo.id === parseInt(project as string))
if (repo === undefined) {
  return Astro.redirect('/')
}

const { name, html_url, description, homepage, license, topics, stargazers_count, forks, watchers } = repo
const res_tags = await fetch(`https://api.github.com/repos/unnunoctio/${name}/tags`, { headers: { Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}` }, cache: "no-cache" });
const tags = await res_tags.json();
const isReady = tags.find((tag: any) => tag.name === "1.0.0") ? true : false
// const { images } = data.find(item => item.githubId === parseInt(project as string))
const title = (description !== null) ? description.split(' - ')[0] : name.replace('-', ' ')
const desc = description?.split(" - ")[1]
---

<Layout title={`Rafael Carvacho | ${title}`}>
  <main class="w-full flex flex-col items-center">
    <section class="pb-14 w-full max-w-nav px-4 sm:px-6 md:px-8 lg:px-[6.75rem]">
      {/* LOGO navbar */}
      {/* LOGO real del proyecto */}
      <ProjectLogo id={parseInt(project as string)} title={title} style="mt-[92px] h-fit w-full max-w-[500px] max-h-[160px]" />
      {!isReady && (
        <div class="mt-4 flex gap-2">
          <ProgressIcon style="w-9 h-9 stroke-text-active" />
          <span class="text-2xl sm:text-3xl italic text-text-active">En Desarrollo</span>
        </div>
      )}

      <SkillBox title="Habilidades" codes={topics} />

      <p class="mt-16 w-full max-w-[600px] text-xl text-text-secondary">
        {desc}
      </p>
      {/* Links de Interes */}
      <div class="mt-16 sm:mt-32 flex flex-col sm:flex-row sm:items-center gap-4">
        <div class="w-full max-w-[350px]">
          <h3 class="text-3xl font-medium w-full sm:max-w-[150px]">Links de Interés</h3>
        </div>
        <div class="flex gap-4 sm:gap-6 h-fit flex-wrap sm:flex-nowrap">
          <MediaButton href={html_url} ariaLabel="Repository" style="group flex gap-4 py-4">
            <GithubIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
            Repositorio
          </MediaButton>
          {homepage !== null && homepage !== "" &&
            <MediaButton href={homepage} ariaLabel="Website" style="group flex gap-4 py-4">
              <LinkIcon style="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-hover-text" />
              Website
            </MediaButton>
          }
        </div>
      </div>
      {/* Detalles adicionales */}
      <div class="mt-16 flex flex-col sm:flex-row sm:items-center gap-4">
        <div class="w-full max-w-[350px]">
          <h3 class="text-3xl font-medium w-full sm:max-w-[150px]">Detalles Adicionales</h3>
        </div>
        <div class="flex gap-y-2 gap-x-6 justify-between flex-wrap sm:flex-nowrap w-full max-w-[700px]">
          <ProjectDetail title="LICENCIA" body={license.name} style="min-w-[109px]" />
          <ProjectDetail title="STARS" body={stargazers_count}>
            <StarIcon style="w-6 h-6 fill-text-primary" />
          </ProjectDetail>
          <ProjectDetail title="WATCHERS" body={watchers}>
            <WatcherIcon style="w-6 h-6 fill-text-primary" />
          </ProjectDetail>
          <ProjectDetail title="FORKS" body={forks}>
            <ForkIcon style="w-6 h-6 fill-text-primary" />
          </ProjectDetail>
        </div>
      </div>
    </section>
  </main>
</Layout>