---
import { githubContributions } from 'github-calendar-json';

interface HeaderMonth {
  month?: string
  cols: number
}

const getHeaderMonths = (months: string[]): HeaderMonth[] => {
  const headers: HeaderMonth[] = months.reduce((acc: HeaderMonth[], month, index) => {
    if (index === 0 || month !== months[index - 1]) {
      acc.push({ month, cols: 1 })
    } else {
      acc[acc.length - 1].cols++
    }
    return acc
  }, [])

  return headers
}

const contributions = await githubContributions('Unnunoctio', { cache: 'no-cache' })

const headerDays = ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
const headerMonths = getHeaderMonths(contributions?.calendar[0].map((col) => col?.date.toLocaleString('es-US', { month: 'short' })) as string[])
---

<section id="github-calendar" class="mt-32">
  <div>
    <div class='flex justify-center w-full h-fit'>
      <div class='overflow-x-auto p-2'>
        <div class='min-w-[900px] w-[900px]'>
          <table class='border-separate border-spacing-[4px]'>
            <thead>
              <tr>
                <th class='w-[30px]' />
                {headerMonths.map((header) => (
                  <th class={`contribution-calendar-label font-medium text-left ${header.cols === 1 ? 'hidden' : ''}`} colspan={header.cols}>
                    <span class='text-[14px]'>{header.month?.charAt(0).toUpperCase()}{header.month?.slice(1)}</span>
                  </th>
                ))}
              </tr>
            </thead>
            <tbody>
              {contributions?.calendar.map((days, index) => (
                <tr class='h-[12px]'>
                  <th class='relative w-[30px] font-medium text-left'>
                    {index % 2 === 1 && (
                      <span class='absolute -bottom-[5px] text-[14px]'>
                        {headerDays[index]}
                      </span>
                    )}
                  </th>
                  {days.map((day) => (
                    (day != null) && (
                      <td
                        class={'contribution-calendar-label w-[12px] rounded-[2px] outline outline-1 -outline-offset-1 outline-calendar-border ' +
                        (
                          (day.level === 0 ? 'bg-calendar-0' : '') ||
                          (day.level === 1 ? 'bg-calendar-1' : '') ||
                          (day.level === 2 ? 'bg-calendar-2' : '') ||
                          (day.level === 3 ? 'bg-calendar-3' : '') ||
                          (day.level === 4 ? 'bg-calendar-4' : '')
                        )}
                      />
                    )
                  ))}
                </tr>
              ))}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='flex justify-center mt-2'>
    <div class='flex gap-2 md:gap-3 justify-between w-full max-w-[902px]'>
      <p class='text-[14px] md:text-[16px]'>{contributions?.totalContributions} contribuciones en el último año</p>
      <div class='flex items-center gap-[2px] md:gap-1'>
        <span class='text-[14px]'>Menos</span>
        <span class='w-[12px] h-[12px] bg-calendar-0 rounded-[2px] outline outline-1 -outline-offset-1 outline-calendar-border' />
        <span class='w-[12px] h-[12px] bg-calendar-1 rounded-[2px] outline outline-1 -outline-offset-1 outline-calendar-border' />
        <span class='w-[12px] h-[12px] bg-calendar-2 rounded-[2px] outline outline-1 -outline-offset-1 outline-calendar-border' />
        <span class='w-[12px] h-[12px] bg-calendar-3 rounded-[2px] outline outline-1 -outline-offset-1 outline-calendar-border' />
        <span class='w-[12px] h-[12px] bg-calendar-4 rounded-[2px] outline outline-1 -outline-offset-1 outline-calendar-border' />
        <span class='text-[14px]'>Más</span>
      </div>
    </div>
  </div>
</section>