---
import ForkIcon from "../icons/ForkIcon.astro";
import StarIcon from "../icons/StarIcon.astro";
import WatcherIcon from "../icons/WatcherIcon.astro";
import ProjectDetail from "./ProjectDetail.astro";

interface Props {
  github_id: number
}

const { github_id } = Astro.props

const res = await fetch("https://api.github.com/users/unnunoctio/repos", { headers: { Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}` }, cache: 'no-cache' })
const data = await res.json()
const repo = data?.find((r: any) => r.id === github_id)

const license = repo.license.name
const stars = repo.stargazers_count
const watchers = repo.watchers
const forks = repo.forks
---

<div class="flex gap-y-2 gap-x-6 justify-between flex-wrap sm:flex-nowrap w-full max-w-[700px]">
  <ProjectDetail title='LICENCIA' value={license} style='min-w-[109px]' />
  <ProjectDetail title="STARS" value={stars}>
    <StarIcon style="w-6 h-6 fill-text-primary" />
  </ProjectDetail>
  <ProjectDetail title="WATCHERS" value={watchers}>
    <WatcherIcon style="w-6 h-6 fill-text-primary" />
  </ProjectDetail>
  <ProjectDetail title="FORKS" value={forks}>
    <ForkIcon style="w-6 h-6 fill-text-primary" />
  </ProjectDetail>
</div>