---
import type { Resume } from '../types';
import EducationIcon from '../icons/EducationIcon.astro';
import WorkIcon from '../icons/WorkIcon.astro';

interface Props extends Resume {
  end: boolean;
}

const { code, start_date, end_date, title, company, description, end = false } = Astro.props;

let date = `${start_date.getFullYear()}`
if (end_date === null) date = `${date} - Presente`
if (end_date !== null && (end_date.getFullYear() !== start_date.getFullYear())) date = `${date} - ${end_date?.getFullYear()}`
---

<li class="flex gap-3">
  <div class="flex flex-col items-center w-fit">
    <span class="p-2 border border-divider-component rounded-full">
      {code === "education" && <EducationIcon style="w-6 h-6 fill-transparent stroke-text-secondary" />}
      {code === "work" && <WorkIcon style="w-6 h-6 fill-transparent stroke-text-secondary" />}
    </span>
    <span class={`h-full w-px ${end ? 'bg-gradient-to-b from-divider-component' : 'bg-divider-component'}`} />
  </div>
  <div class="flex flex-col pb-6">
    <span class="py-1 w-fit">
      <span class="py-1 px-4 border border-divider-component rounded-full">{date}</span>
    </span>
    <div class="flex justify-between items-center gap-2">
      <div>
        <h4 class="text-xl font-medium">{title}</h4>
        <span class="text-md italic text-text-active">{company}</span>
      </div>
      <!-- {#if certificate !== null}
        <a href={certificate} aria-label={`${title} certificate pdf`} target="_blank" rel="noreferrer" class="h-fit">
          <CertificateIcon style="w-8 h-8 stroke-text-secondary hover:stroke-text-primary" />
        </a>
      {/if} -->
    </div>
    {description !== null && <p class="mt-2 text-md text-text-secondary">{description}</p>}
  </div>
</li>