---
import ProgressIcon from "@/components/icons/ProgressIcon.astro";
import InfoContainer from "@/components/ui/InfoContainer.astro";
import type { Technology } from "@/types";
import SkillBox from "../skills/SkillBox.astro";

interface Props {
  title: string;
  isReady: boolean;
  description: string | null;
  skills: Technology[];
  logo: string | null;
}

const { title, isReady, description, skills, logo } = Astro.props;
---

<InfoContainer>
  <section class="min-h-[128px]">
    {
      logo !== null && (
        <>
          <img src={logo} alt={title} height={128} class="max-h-[128px]" />
          <h1 class="sr-only">{title}</h1>
        </>
      )
    }
    {logo === null && <h1 class="text-5xl sm:text-6xl font-medium">{title}</h1>}
  </section>

  {
    !isReady && (
      <section class="flex gap-2 mt-2">
        <ProgressIcon className="w-8 h-8 sm:w-9 sm:h-9 stroke-text-tertiary" />
        <span class="text-2xl sm:text-3xl italic text-text-tertiary">
          En Desarrollo
        </span>
      </section>
    )
  }

  <section class="flex w-full mt-9">
    <p class="max-w-[600px] text-lg text-pretty text-text-secondary">
      {description}
    </p>
  </section>

  <SkillBox title="Habilidades" skills={skills} style="mt-14"/>
</InfoContainer>
