---
import ForkIcon from "@/components/icons/ForkIcon.astro";
import StarIcon from "@/components/icons/StarIcon.astro";
import WatcherIcon from "@/components/icons/WatcherIcon.astro";
import ProjectGithubDetailContainer from "@/components/project/ProjectGithubDetailContainer.astro";
import InfoContainer from "@/components/ui/InfoContainer.astro";

interface Props {
  githubId: string;
}

const { githubId } = Astro.props;

const res = await fetch("https://api.github.com/users/unnunoctio/repos", {
  headers: { Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}` },
  cache: "no-cache",
});
const data = await res.json();
const repo = data?.find((r: any) => r.id === Number(githubId));

const license = repo.license.name;
const stars = repo.stargazers_count;
const watchers = repo.watchers;
const forks = repo.forks;
---

<InfoContainer>
  <section class="flex flex-col sm:flex-row sm:items-center gap-4">
    <div class="w-full max-w-[350px]">
      <h3 class="w-full text-3xl font-medium sm:max-w-[150px]">
        Detalles Adicionales
      </h3>
    </div>
    <div
      class="flex gap-y-2 gap-x-6 justify-between flex-wrap sm:flex-nowrap w-full max-w-[700px]"
    >
      <ProjectGithubDetailContainer
        title="LICENCIA"
        value={license}
        className="min-w-[120px]"
      />
      <ProjectGithubDetailContainer title="STARS" value={stars}>
        <StarIcon className="w-6 h-6 fill-text-primary" />
      </ProjectGithubDetailContainer>
      <ProjectGithubDetailContainer title="WATCHERS" value={watchers}>
        <WatcherIcon className="w-6 h-6 fill-text-primary" />
      </ProjectGithubDetailContainer>
      <ProjectGithubDetailContainer title="FORKS" value={forks}>
        <ForkIcon className="w-6 h-6 fill-text-primary" />
      </ProjectGithubDetailContainer>
    </div>
  </section>
</InfoContainer>
